@using System.Web.Mvc.Html
@{
	ViewBag.Title = "Смена пароля";
	Layout = "../Shared/_MainLayout.cshtml";
}

@if (ViewBag.StatusMessage != string.Empty)
{
	<p class="alert alert-success">@ViewBag.StatusMessage</p>
}

@Html.Partial("_ChangePasswordPartial")
