@using System.Web.Mvc.Html
@model XChat.Areas.Administration.ViewModels.AccountViewModels.LoginViewModel
@{
    ViewBag.Title = "Ошибка при восстановлении пароля";
}

<div class="alert alert-dismissable alert-error">
    <p>Попытка восстановить пароль завершилась неудачей. Не задан почтовый ящик.</p>
</div>

<div>
    @Html.ActionLink("Уведомить администратора", "NotificationAdmin", new {userName = Model.UserName}, new {@class = "btn btn-primary"})
</div>
