@{
    ViewBag.Title = "Восстановление пароля";
	Layout = "../Shared/_MainLayout.cshtml";
}

<div class="alert alert-dismissable alert-success">
    <p>На почтовый ящик отправлено письмо с ссылкой на изменение пароля.</p>
</div>
