@{
    ViewBag.Title = "Подтверждение регистрации";
	Layout = "../Shared/_LayoutBase.cshtml";
}
<div class="alert alert-dismissable alert-success">
    <p>Для подтверждения регистрации, пройдите по ссылке указанной в письме отправленного на ваш почтовый ящик.</p>
</div>
