@model Innostar.UI.Areas.Administration.ViewModels.QuickSeachItemViewModel
<div class="typeahead-object" data-id="@Model.Id" data-title="@Model.Title">
    <span class="brief-card-title">
        @Model.Title
    </span>
</div>