@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефон</h3>
    </header>
    <p>
        <span class="label">Основной:</span>
        <span>222-333-44</span>
    </p>
    <p>
        <span class="label">Дополнительный:</span>
        <span>111-22-33</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Почта</h3>
    </header>
    <p>
        <span class="label">Поддержка:</span>
        <span><a href="mailto:Support@example.com">support@example.com</a></span>
    </p>
    <p>
        <span class="label">Маркетинг:</span>
        <span><a href="mailto:Marketing@example.com">marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">Общий:</span>
        <span><a href="mailto:General@example.com">general@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        XXX XXX XXX<br />
        Улица Ленина
    </p>
</section>